/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1180px;
    background-color: white;
    height: 100%;
}

.container-banner {
    width: 80%;
    margin: 0 auto;
    background-color: darkcyan;
    height: 100px;
}

a {
    text-decoration: none;
    display: inline-block;
}

.button {
    border: 1px solid black;
    padding: 6px;
    margin: 20px 0;
}

.btn-blue {
    color: white;
    background-color: #0061ff;
}

.btn-clear {
    color: black;
    text-align: center;
    background-color: white;
}

.pay-btn {
    border: 1px solid black;
    padding: 6px 25px;
}

#start-btn {
    color: white;
    font-size: 12px;
    display: inline;
}

/* Clearfix */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Regole delle navbar */
nav ul li {
    display: inline-block;
}

/* Regole delle liste */
ul {
    list-style-type: none;
}

/* Debug */
.debug {
    border: 1px solid black;
}

/* Regole header */
.head-row {
    height: 50px;
    line-height: 50px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

#logo {
    vertical-align: middle;
}

/* Regole navbar dell'header */
.nav-left ul {
    margin-left: 20px;
}

.nav-left ul li a {
    margin: 0 20px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.nav-left ul {
    margin-left: 20px;
}

.nav-right ul li a {
    margin: 0 20px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/* Regole jumbotron */
.jumbotron {
    background-color: #b4d0e7;
}

.jumbo-container {
    width: 80%;
    margin: auto;
}

.jumbo-head h1 {
    padding: 5% 0;
    font-size: 70px;
    text-align: left;
}

.jumbo-description {
    width: 40%;
    float: left;
}

.jumbo-description p {
    padding-right: 32%;
    font-size: 14px;
}

.jumbo-description i {
    font-size: 30px;
    margin-top: 20px;
}

.jumbo-img {
    width: 60%;
    float: left;
}

#jumbo-img {
    width: 100%;
    object-fit: cover;
}

.jumbo-row {
    height: 350px;
}

/* Regole sezione pagamenti */

/* .payment {
    background-color: darkgoldenrod;
    width: 100%;
    height: 800px;
} */

.radio {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    }

#radio-blue {
    border: 3px solid #0061ff;
}

/* Regole tabella pagamenti */
.col {
    width: calc(100%/3 - 10px);
    border: 1px solid gray;
    float: left;
}

.col-cen {
    margin: 0 15px;
}

.col-break {
    border-bottom: 1px solid gray;
    max-width: 20%;
}

.col-pay-head {
    text-align: center;
    border-bottom: 1px solid gray;
}

.upper-col, .lower-col {
    padding: 0 5%;
}

/* Regole sezione enterprise */
.enterprise-text, .enterprise-btn {
    float: left;
}

.enterprise-row {
    border: 1px solid gray;
}

.enterprise-text {
    width: 70%;
}

.enterprise-btn {
    width: 30%;
}

.enterprise-head {
    border-bottom: 1px solid gray;
    text-align: center;
}

/* Regole sezione partner */

/* .partner {
    background-color: pink;
    width: 100%;
    height: 300px;
} */

#partner {
    width: 80%;
    display: block;
    margin: auto;
}

.partner-img, .partner-text {
    width: 50%;
    border: 1px solid black;
    float: left;
}

/* Regole sezione business */
/* .business {
    background-color: purple;
    width: 100%;
    height: 500px;
} */

.col2 {
    width: calc(100%/3 - 10px);
    border: 1px solid black;
    float: left;
}

.col-cen {
    margin: 0 15px;
}

.bus-card img {
    height: 50%;
    width: 50%;
    display: block;
    margin: auto;
}

/* Regole sezione banner */
/* .banner {
    background-color: seagreen;
    width: 100%;
    height: 700px;
} */

.col-ban {
    width: 30vw;
    border: 1px solid black;
    float: left;
    /* height: 60vh; */
}

.col-ban-cen {
    width: calc(100% - 60vw);
    height: 30vw;
    float: left;
    background-color: #f5f5f5;
    overflow-y: scroll;
}

.box-logo {
    width: 50%;
    height: 15vw;
    float: left;
    position: relative;
}

.box-logo img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#designit {
    width: 20%;
}

.ban-border {
    width: 5%;
    border-bottom: 1px solid gray;
}

/* Regole colori di sfondo dei loghi */
.box-design {
    background-color: green;
}

.box-asu {
    background-color: purple;
}

.box-uf {
    background-color: lightskyblue;
}

.box-topps {
    background-color: red;
}

.box-bycicle {
    background-color: darkred;
}

.box-hearst {
    background-color: cyan;
}

.box-lonely {
    background-color: blue;
}

.box-clear {
    background-color: yellow;
}

/* Regole sezione prova */
.row-trial {
    height: 400px;
    background-color: #b4d0e7;
}

.trial-text, .trial-btn {
    width: 50%;
    height: 100%;
    border-bottom: 1px solid black;
    float: left;
    position: relative;
}

.trial-text h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #61082b;
}

.trial-btn a {
    position: absolute;
    left: 10%;
    top: 40%;
}

/* Regole sezione faq */
.faq {
    background-color: yellow;
    width: 100%;
    height: 400px;
}

.row-faq {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.row-faq .faq-text {
    float: left;
    width: 80%;
}

.row-faq .faq-arrow {
    float: right;
    width: 5%;
}

.row-faq p {
    font-weight: bold;
    padding: 20px 0;
}

.row-faq i {
    padding: 20px 30px 20px 0;
}


/* Regole footer */
footer {
    background-color: black;
}

.foot-container {
    width: 80%;
    margin: auto;
}

.foot-row {
    margin-top: 3%;
}

.foot-col {
    float: left;
    width: calc(100%/5);
}

.foot-col ul li a {
    color: white;
    font-size: 12px;
}

.foot-col ul li {
    padding: 3px 0;
}

.foot-col ul li:first-child {
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
}

.foot-border {
    width: 5%;
    border-bottom: 1px solid gray;
}

.foot-lang {
    color: white;
}