/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    height: 100%;
    border: 1px solid black;
}

.container-banner {
    width: 80%;
    margin: 0 auto;
    background-color: darkcyan;
    height: 100px;
    border: 1px solid black;
}

a {
    text-decoration: none;
}

.button {
    border: 1px solid black;
    padding: 6px;
}

.btn-blue {
    color: white;
    background-color: #0061ff;
}

.pay-btn {
    border: 1px solid black;
    padding: 6px 25px;
}

#start-btn {
    color: white;
    font-size: 12px;
}

/* Clearfix */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Regole delle navbar */
nav ul li {
    display: inline-block;
}

/* Regole delle liste */
ul {
    list-style-type: none;
}

/* Debug */
.debug {
    border: 1px solid black;
}

/* Regole header */
.head-row {
    height: 50px;
    line-height: 50px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

#logo {
    vertical-align: middle;
}

/* Regole navbar dell'header */
.nav-left ul {
    margin-left: 20px;
}

.nav-left ul li a {
    margin: 0 20px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.nav-left ul {
    margin-left: 20px;
}

.nav-right ul li a {
    margin: 0 20px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/* Regole jumbotron */
.jumbotron {
    background-color: #b4d0e7;
}

.jumbo-container {
    margin: 0 10%;
    border: 1px solid black;
}

.jumbo-head h1 {
    font-size: 60px;
    text-align: left;
}

.jumbo-description {
    width: 40%;
    border: 1px solid black;
    padding-left: 20px;
    float: left;
}

.jumbo-description p {
    padding: 40px 20px;
}

.jumbo-img {
    width: 60%;
    border: 1px solid black;
    float: left;
}

#jumbo-img {
    width: 100%;
    object-fit: cover;
}

/* Regole sezione pagamenti */
.payment {
    background-color: darkgoldenrod;
    width: 100%;
    height: 800px;
}

.radio {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    }

#radio-blue {
    border: 3px solid #0061ff;
}

/* Regole tabella pagamenti */
.col {
    width: calc(100%/3 - 10px);
    border: 1px solid gray;
    float: left;
}

.col-cen {
    margin: 0 15px;
}

.col-break {
    border-bottom: 1px solid gray;
    max-width: 20%;
}

.col-pay-head {
    text-align: center;
    border-bottom: 1px solid gray;
}

.upper-col, .lower-col {
    padding: 0 5%;
}

/* Regole sezione enterprise */
.enterprise-text, .enterprise-btn {
    float: left;
}

.enterprise-row {
    border: 1px solid gray;
}

.enterprise-text {
    width: 70%;
}

.enterprise-btn {
    width: 30%;
}

.enterprise-head {
    border-bottom: 1px solid gray;
    text-align: center;
}

/* Regole sezione partner */
.partner {
    background-color: pink;
    width: 100%;
    height: 300px;
}

/* Regole sezione business */
.business {
    background-color: purple;
    width: 100%;
    height: 500px;
}

/* Regole sezione banner */
.banner {
    background-color: seagreen;
    width: 100%;
    height: 700px;
}

/* Regole sezione faq */
.faq {
    background-color: yellow;
    width: 100%;
    height: 400px;
}

/* Regole footer */
footer {
    background-color: black;
    width: 100%;
    height: 400px;
} 